.drink_thumb {
    width: 500px;
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}